// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #c31824;
$light-grey:             #f1f1f1;
$dark-grey:       #707376
 
